<a href="https://colab.research.google.com/github/srikrishna-stack/python-problem-solving/blob/main/typecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
type(a)
n = str(a)
print(n)

5

In [ ]:
a="5"
type(a)
n= float (a)
print (n)

5.0

In [ ]:
x=int(input("enter an integer"))
if x < 0:
  x=0
  print("x is a negative integer")
elif x==1 :
  print(" x is  a single element")
elif x>0:
  print(" x is a greatest element")
else:
  print("enter the valid number")

enter an integer-1
x is a negative integer

In [ ]:
a=['marry','had','a', 'little','lamb']
for i in range(len(a)):
  print(i,a[i])

0 marry
1 had
2 a
3 little
4 lamb

In [ ]:
sum(range(4))
list(range(4))

[0, 1, 2, 3]

In [ ]:
#prime number
for n in range(2,10):
  for x in range(2,n):
    if n%x==0:
      print(n,'equals',x,'*',n//x)
      break
    else:
      print(n,"is a prime number")

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [ ]:
s = 'geeksforgeeks'

for letter in s:
  
    print(letter)
   
    if letter == 'e' or letter == 's':
        break
  
print("Out of for loop")
print()

g
e
Out of for loop

In [ ]:
#continue statement
for i in range(1,11):
  if i == 6:
    continue
  else:
    print(i)
for num in range(1,10):
  if num%2==0:
    print("print even number",num)
  else :
    print("print odd number",num)

1
2
3
4
5
7
8
9
10
print odd number 1
print even number 2
print odd number 3
print even number 4
print odd number 5
print even number 6
print odd number 7
print even number 8
print odd number 9

In [ ]:
def fib(n):
  a,b=0,1
  while a<n:
    print(a,end=" ")
    a,b=b,a+b
  print()
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [ ]:
f=fib
f(100)
f(0)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
def f(a,l=[]):
  l.append(a)
  return l
print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
  print("-- This parrot wouldn't", action, end=' ')
  print("if you put", voltage, "volts through it.")
  print("-- Lovely plumage, the", type)
  print("-- It's", state, "!")
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [ ]:
def cheeseshop(kind,*arguments,**keywords):
  print("--do you have any kind ",kind,"?")
  print("-- iam sorry ,we are all out of kind")
  for arg in arguments:
    print(arg)
  print("-"
  *40)
  for kw in keywords:
    print(kw ,":",keywords[kw])
  
cheeseshop("limbburger","it is funny sir","it is very very funny sir",shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

--do you have any kind  limbburger ?
-- iam sorry ,we are all out of kind
it is funny sir
it is very very funny sir
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [ ]:
r=int(input("enter the rows"))
c=int(input("enter the columns"))
matrix=[]
print("please enter the matrix rowwise")
for i in range(r):
  a=[]
  for j in range(c):
    a.append(int(input()))
  matrix.append(a)
  #for printing the matrix
for i in range(r):
  for j in range(c):
    print(matrix[i][j],end=" ")
  print()

enter the rows2
enter the columns3
please enter the matrix rowwise
1
2
3
4
5
6
1 2 3
4 5 6

In [ ]:
mat=[[int(input()) for x in range(c)]for y in range(r)]

2
3
4
5
6
7

In [ ]:
import array as arr
a=arr.array('i',[1,2,3])
print("the new created array is",end=" ")
for i in range(0,3):
  print(a[i],end="")
print()
a.insert(1,4)
print("after insertion")
for i in a:
  print(i,end=" ")
print()
print("aceesing the elements in the array",a[1])
print(a.pop(2))
print(a.remove(3))

print(a.index(1))
a[1]=5
print(a)

the new created array is 123
after insertion
1 4 2 3
aceesing the elements in the array 4
2
None
0
array('i', [1, 5])

In [ ]:
from array import*
arr1=array('i',[1,2,3,4,2,2])
for i in arr1:
  print(i,end=' ')
print(arr1[0])
arr1.append(11)
print(arr1)
arr1.reverse()
print(arr1)
print(arr1.itemsize)
print(arr1.count(2))
arr1.extend(arr1)
print(arr1)

1 2 3 4 2 2 1
array('i', [1, 2, 3, 4, 2, 2, 11])
array('i', [11, 2, 2, 4, 3, 2, 1])
4
3
array('i', [11, 2, 2, 4, 3, 2, 1, 11, 2, 2, 4, 3, 2, 1])

In [ ]:
from array import*
list=[1,2,3,4,5,6]
arr=array('i',[])
arr.fromlist(list)
print(arr)
arr.insert(1,7)
print(arr)

array('i', [1, 2, 3, 4, 5, 6])
array('i', [1, 7, 2, 3, 4, 5, 6])

In [ ]:
def max_product(arr):
  arrlen=len(arr)
  if arrlen < 2:
    print("no pair exists")
    return
    x=arr[0],y=arr[1]
    for i in range(0,arrlen):
      for j in range(i+1,arrlen):
        if (arr[i]*arr[j] > x*y):

          x = arr[i]; y = arr[j] 

    return x,y    
          
  
    
          
  
nums=[1,2,3,4,7,0,8,4]
print("original array  nums")
print("maximum product num is ",max_product(nums))

original array  nums
maximum product num is  None